* {
  border: none !important;
  outline: none !important;
}

body {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #000 !important;
  text-align: center !important;
  cursor: default !important;
  font-family: Arial, sans-serif !important;
}

body ._eaglercraftX_canvas_element, body ._webmc_resent_freeze_fix_canvas_div_, body ._webmc_resent_freeze_fix_canvas_div_::part(_webmc_resent_freeze_fix_canvas_element_) {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
}

body ._webmc_resent_freeze_fix_canvas_div_, body ._webmc_resent_freeze_fix_canvas_div_::part(_webmc_resent_freeze_fix_canvas_element_) {
  z-index: 2 !important;
  pointer-events: none !important;
}

body ._eaglercraftX_crash_element {
  text-align: left !important;
}

body:has(._eaglercraftX_crash_element)
  :not(
    ._eaglercraftX_wrapper_element,
    ._eaglercraftX_wrapper_element img:first-of-type,
    ._eaglercraftX_crash_element,
    ._eaglercraftX_crash_element *
  ) {
  display: none !important;
}