on:
  push:
  workflow_dispatch:

jobs:
  dist:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: |
          git fetch origin
          git show-ref --verify --quiet refs/remotes/origin/dist && git checkout dist || git checkout --orphan dist
          git rm -r --ignore-unmatch . || true
          git checkout main -- public
          cp -a public/. .
          rm -rf public
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add --all
          git commit -m "$COMMIT_MSG" || true
          git push -u --force https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git dist
        env:
          COMMIT_MSG: "${{ github.event.head_commit.message || 'chore: update client' }}"